name: Scheduled Timestamp Update

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Update timestamp
        run: |
          echo "<p>Last updated: $(TZ='Asia/Kolkata' date)</p>" > timestamp.html

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add timestamp.html
          git commit -m "Scheduled update" || echo "No changes"
          git push
